.date {
  font-size: 14px;
  color: #1736b3;
}

.img {
  width: 100%;
  min-height: 90px;
}

.source {
  color: #666666;
  font-size: 14px;
}

.source:hover {
  color: #2ba178;
}

.headline {
  font-weight: 600;
  color: black;
  font-size: 17px;
}
